@charset "utf-8";

body{
  font-family: "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  padding: 0;
}

.main{
  padding: 8px;
}

br{
  clear: both;
}

table.list-table{
  max-width: 2000px;
  min-width: 600px;
  border-collapse: collapse;
  border: 3px black solid;
  width: 100%;
}
table.list-table td{
  padding: 3px;
  border: 2px black solid;
}
table.list-table th{
  background-color: #ffaaaa;
  border: 2px black solid;
}

.no-wrap{
  white-space: nowrap;
}

.streamer{
  padding: 2px;
}

.online .time_since{
  display: none;
}
.offline .time_diff{
  display: none;
}

.name, .time, .chat{
  min-width: 100px;
}
.time{
  min-width: 120px;
}
.topic{
  max-width: 50%;
}

/*popup*/
.popup img.thumb {
  display: block;
  top: -10000px;
  left: -10000px;
  position: absolute;
}
.popup a:hover {
  position: relative;
}
.popup a:hover img.thumb{
  top: 20px;
  left: -340px;
}

div.navigation {
  margin: 1em;
}

#notice{
  display: none;
  font-size: large;
  padding: 5px;
  text-align: center;
  background-color: #ffa;
  border: 1px solid #dd8;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

#view #name{
  font-size: 16pt;
  font-weight: bold;
  margin-right: 1.5em;
}
#view #description{
  font-size: 10pt;
}
#view #select{
  margin: 0.5em;
}
#view #movie {
  float: left;
}
#view #emovie {
  background-color: black;
}

#article{
  margin: auto;
  width: 90%;
}
#article h2{
  margin-bottom: 0;
  font-size: 14pt;
}
#article_list{
  margin: 2px auto 5px; auto;
  width: 100%;
  height: 120px;
  border: 2px solid black;
  padding: 5px;
  overflow: auto;
}

#article .article_title{
  font-weight: bold;
}
#article .article_body{
  margin-left: 1em;
  display: block;
}

#view .tags{
  margin: 0.5em;
}
.tag{
  color: #696F6F;
  margin: 1px;
  padding: 1px;
  line-height: 1.4em;
  border: solid 1px #696F6F;
  font-size: 8pt;
  white-space: nowrap;
}

a{
  text-decoration: underline;
  color: #33e;
  cursor: pointer;
}
a:visited{
  color: #428;
}
