body{
  background-color: #44cc44;
}

a{
  color: #808;
  font-weight: bold;
}

#gachapin{
  background-color: #44cc44;
}
#gachapin #head{
  background-image: url(gachapin_head.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.odd{
  background-color: yellow;
}
.even{
  background-color: orange;
}

h1{
  font-size: 20pt;
}

table.list-table{
  width: 90%;
  margin: auto;
  max-width: 1000px;
  min-width: 600px;
  border-collapse: collapse;
}
table.list-table td{
  padding: 3px;
  border: 2px black solid;
}
table.list-table th{
  background-color: #ffaaaa;
  border: 2px black solid;
}

.option div{
  float: left;
  margin-right: 2em;
}

.streamer{
  padding: 2px;
}
.online {
  font-size: 14pt;
}
.offline {
  font-size: 11pt;
}
.online {
  font-weight: bold;
}
.online .time_since{
  display: none;
}
.offline .time_diff{
  display: none;
}
.old{
  display: none;
}

/*popup*/
.program img.thumb {
  display: block;
  top: -10000px;
  left: -10000px;
  position: absolute;
}
.program a:hover {
  position: relative;
}
.program a:hover img.thumb{
  top: 20px;
  left: -340px;
}

#view #name{
  font-size: 16pt;
  font-weight: bold;
  margin-right: 1.5em;
}
#view #description{
  font-size: 10pt;
}
#view #select{
  margin: 0.5em;
}
#view #movie {
  float: left;
}
